@import '../colors';

.header__wrapper__full {
    min-height: 150px;
    width: 100%;
    background-color: $white;

    .header__logo__wrapper {
        width: 100%;

        background-color: $white;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        padding-top: 15px;
        padding-bottom: 15px;

        a {
            display: flex;
            
            .logo__image__img {
                height: 150px;
                width: auto;
            }
        }
    }

    .header__navbar__wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 50px;

        min-height: 3rem;

        position: relative;

        border-style: solid;
        border-top-width: 1px;
        border-bottom-width: 1px;
        border-left: none;
        border-right: none;
        border-color: $gray;

        .navbar__option__wrapper {
            a {
                text-decoration: none;
                color: $black;
            }
        }

        .navbar__input__search {
            height: 2.2rem;
            width: 50%;
        }
        

        .navbar__dropdown__wrapper {
            position: relative;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            height: 3rem;

            &:hover .dropdown__options__list  {
                display: flex;
                flex-direction: column;
            }

            .dropdown__options__list {
                display: none;
                position: absolute;
                width: 150px;
                z-index: 2;
                top: 3rem;

                background-color: $white;

                border-style: solid;
                border-top-width: 1px;
                border-left-width: 1px;
                border-right-width: 1px;
                border-bottom-width: 1px;
                border-color: $gray;

                .dropdown__option__wrapper {
                    padding-top: 5px;
                    padding-bottom: 5px;
                    padding-left: 5px;
                    padding-right: 5px;

                    border-style: solid;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                    border-bottom-width: 1px;
                    border-color: $gray;

                    &:hover a {
                        opacity: 0.8;
                    }
                }
            }

            .button__icon__more {
                height: 25px;
                width: 25px;
            }
        }

        .navbar__button__wrapper {
            display: flex;
            position: absolute;
            right: 15px;

            .button__icon__search {
                width: 30px;
                height: 30px;
                cursor: pointer;
            }
        }

        .navbar__logo__wrapper {
            a {
                .logo__image__img {
                    height: 1.5rem;
                    width: auto;
                }
            }
        }
    }
}

.is__sticky {
    position: fixed !important;
    top: 0px;
    z-index: 2;
    width: 100%;
    background-color: $white;
}

.university {
    background-color: $color--university;
}