@import '../colors';


.article__link__banner {
    width: 100%;
    height: 300px;
    text-decoration: none;
    display: block;

    position: relative;

    border-radius: 20px;

    background-color: $black;

    .article__wrapper__banner {
        height: 100%;
        width: 100%;
        border-radius: 20px;

        .article__image__img{
            width: 100%;
            height: 100%;
            border-radius: 20px;
            object-fit: cover;
            opacity: 0.5;
            transition: width 0.2s, height 0.2s, transform 0.2s;

            &:hover {
                width: 110%;
                height: 110%;
                opacity: 0.8;
                transform: translate(-5%, -5%);
            }
        }
    }

}
