$black: black;
$white: rgb(255, 255, 255);
$gray: rgb(217, 217, 217);
$dark-gray: rgb(75, 75, 75);
$transparent-gray: rgba(0, 0, 0, 0.322);
$transparent-dark-gray: rgba(0, 0, 0, 0.459);

// Section colors
$color-univ: rgb(0, 51, 0);
$color-menage: rgb(1, 33, 80);
$color-sports: rgb(149, 127, 13);
$color-vanguard: rgb(43, 11, 84);
$color-opinion: rgb(65, 23, 21);