@import 'colors';


.article__wrapper__full {
    width: 100%;
    height: 100%;
    background-color: pink;
    display: flex;
    text-decoration: none;

    .article__image__full {
        width: 50%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
    }

    .article__information__wrapper {
        width: 50%;
        background-color: aqua;
        display: flex;
        flex-direction: column;

        .article__headline__wrapper {
            color: $black;
            font-weight: 700;
            font-size: xx-large;
            background-color: yellow;
        }

        .article__writer__wrapper {
            color: $black;
            background-color: green;
        }

        .article__snippet__wrapper {
            color: $black;
            height: 100%;
            background-color: antiquewhite;
        }
    }
}