@import 'colors';


.article__wrapper__full {
    width: 100%;
    height: 100%;
    display: flex;
    text-decoration: none;

    .article__image__full {
        width: 50%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;

        &:hover {
            opacity: 0.8;
        }
    }

    .article__information__wrapper {
        width: 50%;
        display: flex;
        flex-direction: column;

        .article__headline__wrapper {
            color: $black;
            font-weight: 700;
            font-size: xx-large;

            padding-left: 25px;
            padding-right: 25px;

            &:hover {
                color: $dark-gray;
            }
        }

        .article__authors__wrapper {
            color: $black;
            padding-left: 25px;
            padding-right: 25px;
            text-align: justify;

            a {
                text-decoration: none;
                color: $black;
            }
        }

        .article__snippet__wrapper {
            color: $black;
            height: 100%;

            text-align: justify;

            padding-top: 25px;
            padding-left: 25px;
            padding-right: 25px;

            color: $dark-gray;

            .snippet__readMore__link {
                &:hover {
                    color: $gray;
                }
            }
        }
    }
}